h2  {
    color: #282835;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: left;
}
h3  {
    color: #8a8aa1;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: left;
}
p {
    padding-left: 20px;
}
@media screen and (min-width: 980px) /* Desktop */ {
    #main-aside-wrapper {
        flex-direction: column;
        display: flex;
       }
       #main-aside-wrapper tuble, #main-aside-wrapper links, #main-aside-wrapper navig, #main-aside-wrapper forma {
        max-width:800px;
        height:0 auto;
        min-width: 500px;
        background-color:#aa0909; 
        margin: 0 auto; 
        margin-top:20px; 
        padding:10px;
       }
       #main-aside-wrapper linkbox{
        height: 140px; 
        width: 300px;;  
        position: absolute; 
        top: 0px; 
        right: 0px; 
        border: 1px solid black; 
        background:#aa0909;
       }
       #main-aside-wrapper linkbox {
        flex: 1;
        order: -1;
       }
       #main-aside-wrapper tuble {
        flex: 1;
        order: 2;
       }
       #main-aside-wrapper links {
        flex: 1;
        order: 1;
       }
       #main-aside-wrapper navig {
        flex: 1;
        order: 1;
       }
       #main-aside-wrapper forma {
        flex: 1;
        order: 1;
       }
    .navHead{
        max-width:800px; 
        background-color:#ff0000; 
        margin: 0 auto; 
        margin-top:0px; 
        padding:10px;
    }
    .navMain{
        max-width:800px; 
        background-color:#aa0909; 
        margin: 0 auto; 
        margin-top:0px; 
        padding:10px;
    }
}
@media screen and (max-width: 500px) /* Mobile */ {
    #main-aside-wrapper {
        flex-direction: column;
       
        
       }
       #main-aside-wrapper tuble, #main-aside-wrapper links, #main-aside-wrapper navig, #main-aside-wrapper forma {
        width:500px; 
        height:0 auto;
        background-color:#aa0909; 
        margin: 0 auto; 
        margin-top:20px; 
        padding:10px;
       }
       #main-aside-wrapper linkbox{
        max-width:800px;
        height:0 auto;
        min-width: 500px;
        background-color:#aa0909; 
        margin: 0 auto; 
        margin-top:20px; 
        padding:10px;
       }
       #main-aside-wrapper linkbox {
        flex: 1;
        order: -1;
       }
       #main-aside-wrapper tuble {
        flex: 1;
        order: -1;
       }
       #main-aside-wrapper links {
        flex: 1;
        order: 1;
       }
       #main-aside-wrapper navig {
        flex: 1;
        order: 1;
       }
       #main-aside-wrapper forma {
        flex: 1;
        order: 1;
       }
    .navHead{
        max-width:500px; 
        background-color:#ff0000; 
        margin: 0 auto; 
        margin-top:0px; 
        padding:10px;
    }
    .navMain{
        max-width:800px; 
        background-color:#aa0909; 
        margin: 0 auto; 
        margin-top:0px; 
        padding:0px;
    }
}